{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * CraftCMS Contests plugin for Craft CMS 3.x
 *
 * CraftCMS Contests index.twig
 *
 * @author    The Refinery
 * @copyright Copyright (c) 2021 The Refinery
 * @link      https://the-refinery.io
 * @package   CraftcmsContests
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("therefinery\\craftcmscontests\\assetbundles\\craftcmscontests\\CraftcmsContestsAsset") %}
{% do view.registerAssetBundle("therefinery\\craftcmscontests\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/https://github.com/the-refinery/contests-craft3-plugin/craft-cms-contests/blob/master/README.md" %}

{% set title = "CraftCMS Contests" %}

{% set pluginCpUrl = url('craft-cms-contests') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@therefinery/craftcmscontests/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('craft-cms-contests') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('craft-cms-contests') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
